@model Avondspel.Domain.BordspellenAvond

@{
    ViewData["Title"] = "Create BordspellenAvond";
}

<div class="card w-100">
    <div class="card-header">
        <h1>BordspellenAvond Create</h1>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Planning">Plan een datum</label>
                <div><span asp-validation-for="Planning" class="text-danger"></span></div>
                <input class="form-control" asp-for="Planning" type="datetime-local" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Straat"></label>
                <div><span asp-validation-for="Straat" class="text-danger"></span></div>
                <input class="form-control" asp-for="Straat" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Stad"></label>
                <div><span asp-validation-for="Stad" class="text-danger"></span></div>
                <input class="form-control" asp-for="Stad" />
            </div>
            <div class="form-group mb-2">
                <label class="form-label" asp-for="Huisnummer"></label>
                <div><span asp-validation-for="Huisnummer" class="text-danger"></span></div>
                <input class="form-control" asp-for="Huisnummer" />
            </div>
            <div class="form-group">
                <label class="form-label">Bordspellen:</label>
                <select class="form-select" asp-items="ViewBag.bordspellen" multiple name="bordspellen"></select>
            </div>

            @if (ViewBag.eten != null)
            {
                <div class="form-group mt-2">
                    <p class="form-label mb-0">Potluck activeer je automatich als je geen eten opgeeft</p>
                    <label class="form-label">Eten:</label>
                    <select class="form-select" asp-items="ViewBag.eten" multiple name="etenLijst"></select>
                </div>
            }
            <div class="form-group">
                <label class="form-label" asp-for="AantalSpelers">AantalSpelers</label>
                <div><span asp-validation-for="AantalSpelers" class="text-danger"></span></div>
                <input class="form-control" asp-for="AantalSpelers" />
            </div>
            <div class="form-group">
                <span asp-validation-for="AchtienPlus" class="text-danger"></span>
            </div>

            <div class="list-group mt-3">
                <label class="list-group-item" asp-for="AchtienPlus">
                    <input class="form-check-input me-1" type="checkbox" asp-for="AchtienPlus">
                    Moeten spelers ouder dan achtien zijn?
                </label>
                <div><span asp-validation-for="AchtienPlus" class="text-danger"></span></div>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>