@model IEnumerable<Avondspel.Domain.BordspellenAvond>

@{
    ViewData["Title"] = "BordspellenAvondIndex";
}
<!DOCTYPE html>
<html>
<div class="container">
<h1>BordspellenAvonden</h1>
@if(ViewBag.Gebruiker.OuderDanAchtien == true){
    <a asp-action="Create">
        <button type="button" class="btn btn-primary btn-lg mb-3">Maak een bordspellenAvond aan</button>
    </a>
}



    <div class="row">
        
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-lg-3 mb-1">
                    <partial name="_Avonden" model="item" />
                </div>
            }
        }
        else
        {
            <partial name="_ErrorLijstLeeg" />
        }

        
    </div>
</div>
</html>